<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultDatabase"
			 connectionString=
			 "Server=tcp:paulstump.database.windows.net,1433;Initial Catalog=PokemonDb;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication=&quot;Active Directory Default&quot;;"
			 />
		<add name="RasppepePiPostgres" connectionString="Host=192.168.0.123; Database=PokemonDb; Username=paul_stump; Password=pokemon_master_123"/>
	</connectionStrings>
</configuration>